*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #000;
    height: 100vh;
}

.nav-bar{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.left{
    margin-top: 20px;
}

.left a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}

.left a li{
    list-style: none;
}

.left a li span{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.right{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.right a{
    text-decoration: none;
    color: #fff;
}

.right a li{
    list-style: none;
    font-size: 20px;
    margin: 0 30px;
    transition: .2s ease-out;
}

.right a li:hover{
    color: red;
}

.nav-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.content-left p{
    color: #fff;
    font-size: 26px;
}

.content-left h2{
    color: #fff;
    font-size: 50px;
    margin-top: 20px;
}

.content-left h2 span{
    color: red;
}

.content-left button{
    margin-top: 20px;
    width: 10vw;
    height: 4vh;
    cursor: pointer;
    font-size: 20px;
    transition: .2s ease-in;
    background-color: rgb(153, 44, 44);
    border-radius: 3px;
    border: none;
    color: #fff;
}

.content-left button:hover{
    background-color: rgb(183, 46, 46);
    color: #000;
}

.img-right img{
    margin-top: 100px;
    height: 60vh;
    border-radius:20px 200px 90px 140px;
    background-attachment: fixed;
}

/* About-us Starts from here */

.about-us-sec{
    height: 100vh;
    background-color: #000;
}

.about-us{
    display: flex;
    /* justify-content: space-around; */
    justify-content:space-evenly;
    align-items: center;
}

.about-left img{
    height: 60vh;
    border-radius: 120px 250px 140px;
}

.about-right{
    color: #fff;
}

.about-right h1{
    font-size: 40px;
    font-weight: 800;
}

.about-right p{
    font-size: 20px;
    color: gray;
    margin-top: 20px;
}

.about-more{
    /* display: flex; */
    margin-top: 20px;
}

.skills{
    margin-top: 20px;
}

.skills a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.skills .year-skill{
    color: red;
    margin-top: 5px;
    font-size: 15px;
}

.skills .skill-deg{
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

.skills .intern{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}

.skills .internship{
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

.experience a{
    color: #fff;
    text-decoration: none;
}

.education a{
    color: #fff;
    text-decoration: none;
}

.about-more a:hover{
    border-bottom: 2px solid red;
}

/* Our Services Starts from here */

.services{
    height: 100vh;
    background-color: #000;
}

.my-services{
    display: flex;
    justify-content: center;
}

.serv-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 10vh;
}

.serv-heading h1{
    color: #fff;
    /* text-align: center; */
    margin-bottom: 200px;
    font-size: 60px;
    font-weight: 800;
}



.services-design{
    background-color: #fff;
    margin: 0 60px;
    padding: 40px;
    border-radius: 5px;
    transition: background 0.5s,transform .5s;
    cursor: pointer;
}

.services-design img{
    height: 8vh;
    color: rgb(156, 125, 125);
    margin-bottom: 30px;
}

.services-design h3{
    text-transform: capitalize;
    font-size: larger;
    margin-bottom: 20px;
}

.services-design p{
    color: gray;
    font-size: 17px;
    margin-bottom: 20px;
}

.services-design .ser-a{
    text-decoration: none;
    color: #000;
}

.services-design:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* Contact us section starts from here */

.contact-us{
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}

.contact-me-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contact-me-left h2{
    color: #fff;
    font-size: 60px;
    margin-bottom: 40px;
}

.tele{
    display: flex;
    flex-direction: column;
}

.telegram{
    margin-bottom: 20px;
}

.telegram img{
    height: 3vh;
}

.telegram span{
    color: #fff;
}

.phone{
    margin-bottom: 20px;
}

.phone img{
    height: 3vh;
}

.phone span{
    color: #fff;
}

.contact-icons a img{
    height: 4vh;
    margin: 30px 10px;
}

.contact-btn{
    display: flex;
    justify-content: flex-start;
}

.contact-btn button{
    height: 4vh;
    width: 10vw;
    background-color: #ff004f;
    border-radius: 5px;
    margin-top: 20px;
    transition: .2s linear;
    cursor: pointer;
    border: none;
}

.contact-btn button:hover{
    background-color: #a85670;
}

.contact-me-right .inputs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.name input{
    height: 4vh;
    width: 25vw;
    margin-bottom: 30px;
    padding: 0px 10px;
}

.email input{
    height: 4vh;
    width: 25vw;
    margin-bottom: 30px;
    padding: 0px 10px;
}

.textarea textarea{
    height: 20vh;
    width: 25vw;
    padding: 5px 10px;
}

/* Responsive website starts from here */

@media (max-width:920px){

    header{
        height: 150vh;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
    }

    .right{
        display: flex;
        flex-direction: column;
    }

    .nav-content{
        display:flex;
        flex-direction: column;
        margin-top: 130px;
    }

    .img-right img{
        height: 40vh;
        width: 70vw;
    }

    .content-left button{
        height: 5vh;
        font-size: 10px;
        width: 30vw;
    }

    .about-us-sec{
        height: 180vh;
    }

    .about-us{
        display: flex;
        flex-direction: column;
    }

    .about-left img{
        margin-top: 50px;
        height: 50vh;
        width: 60vw;
    }

    .about-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .about-right .about-me{
        text-align: center;
    }

    .my-services{
        height: 250vh;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services-design{
        margin: 40px 0px;
    }

    .serv-heading h1{
        margin-top: 840px;
    }

    .contact-us{
        height: 300vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 300px;
    }

    .contact-me-left{
        margin-bottom: 100px;
    }

    .contact-me-left h2{
        font-size: 30px;
    }

    .contact-btn button{
        height: 5vh;
        width: 30vw;
    }

    .contact-icons{
        display: flex;
        flex-direction: column;
    }

    .contact-me-right{
        margin-top: 100px;
    }

    .inputs div input{
        height: 5vh;
        width: 30vw;
    }

    .textarea textarea{
        height: 5vh;
        width: 30vw;
    }
}